h1 {
  margin: 0;
}

textarea {
  resize: none;
  width: 500px;
  height: 70px;
  overflow: auto;
}


.profile-picture {
  width: 100px;
  height: auto;
  border-radius:50%;
  overflow:hidden;
}

.nav ul {
  padding-left: 0;
}

.nav li {
  display: inline-block;
}

.head-head{
  margin-top: -30px;
background: rgb(131,58,180);
background: linear-gradient(22deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 51%, rgba(252,176,69,1) 100%);

  padding-bottom: 10px;
  margin-right: 0;
  margin-right: 0;
  box-sizing: border-box;
  margin-left: -8px;
  margin-right: -8px;
}


.nav{

  text-align: center;
  margin: 0 auto;
  width: 90vw;
  overflow: hidden;
  font-family: 'heebo', sans-serif;
  font-weight: bold;
  font-size: 200%;
}

.nav a {
  color: black;
}

.nav-auc {
  float:left;
}

.nav-lout{
  float: right;
  padding-left: 4vw;
}

.nav-home {
  float: left;
  margin-right: 4vw;
}

.nav-reg {
  float: right;
  margin-left: 4vw;
}

.nav-loin {
  float: right;

}

.head-info{

}



.home-lots{
  margin-top: 2vh;
  margin-bottom: 1.7vh;
  text-align: center;
  font-size: 200%;
  font-family: 'Great Vibes', cursive;
  font-weight: normal;
}


.home-input {
  margin-left: 2%;
  border: 0;
  width: 80%;
}

input{
  line-height: 0.4; !important;
  caret-shape: block;
}


input:focus {
  outline: none; /* убираем обводку при фокусе */
  border: none; /* убираем границу при фокусе */
}

.home-search input {
  font-family: 'heebo', sans-serif;
  font-weight: bold;
  font-size: 200%;
  caret-shape: block;
  float: left;
}

.home-search {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding-bottom: 2vh;
  margin-bottom: 2vh;
  border-bottom: 2px solid black;
}

.home-search-save {
    font-family: 'heebo', sans-serif;
  font-weight: bold;
  font-size: 200%;
  display: flex;
  justify-content: center;

}


.footer {
    background-color: darkgray;

    bottom: 0;
     left: 0;
     width: 100%;
     padding: 1px;
     text-align: center;
     min-height: 10px;
}

p {
  overflow: hidden;
}

p {
  position: relative;
}

p::after {
  content: "";
  bottom: 0;
  right: 0;
  height: 0.5em;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%);
}

p {
  position: relative;
}

.info-desc::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 75%; /* задаем высоту псевдоэлемента */
  width: 100%; /* задаем ширину псевдоэлемента */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 92%); /* задаем градиентный фон */
}


.head_info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.car-block {
  border: 1px solid #ccc;
  height: 35vh;
  display: flex;
  padding: 1.5%;
  margin-bottom: 20px;
  margin-left: 3.5vw;
  margin-right: 3.5vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
}

.car-block h2 {
  font-size: 250%;
  margin-bottom: 0px;
}

.car-block p {
  font-size: 100%;
}

a {
  color: black;
  text-decoration: none;
  position: relative;
}

.nav a:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background-color: black;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.nav a:hover:after {
  width: 100%;
  left: initial;
  left: 0;
}

.car-container {
  display: flex;
  align-items: center;

}

.car-info {
  flex-grow: 1;
  max-width: 40vw;
  margin-left: 3vw;
}

.car-info h2 {
  font-size: 250%;
  font-family: 'Heebo', cursive;
}

.info-name {
  margin-top: 3%;
}

.info-gen{
  font-size: 250%;
  font-family: 'Heebo',cursive;
  font-weight: normal;
}

.info-desc {
  font-family: 'heebo', sans-serif;
  font-weight: normal;
  height: 8vh;
  text-align: justify;
}

.info-bid {
  font-family: 'heebo', sans-serif;
  font-weight: bold;
}

.info-time {
    font-family: 'heebo', sans-serif;
  font-weight: bold;

}

.info-info {
  right: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 5.5vh;

}

.car-image {
  flex-shrink: 0;
  max-width: 800px;
  /*max-height: 490px ;*/
  /*width: 100%;*/
  /*height: auto;*/
}

.car-block {
  position: relative;
  opacity: 0;
  bottom: -50px;
}


@keyframes slideIn {
  0% {
    opacity: 0;
    bottom: -50px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

/* Применяем анимацию к блоку div */
.car-block {
  animation: slideIn 1s ease-out forwards;
}

.lot-info {
  margin-left: 5vw;
}

.lot-name h1{
  font-size: 70px;
  margin-top: 5px;
  font-family: 'Heebo', cursive;
  font-weight: bold;
}

.lot-image img{
  margin-top: 1vh;
  width: 66vw;
  border-radius:10px;
  overflow:hidden;
}

.lot-bar {
  margin-top: 1vh;
  display: flex;
  align-items: center;
}

.lot-bar-statistic {
  background-color: #2E2E2E;
  border-radius: 10px;
}

.statistic-name {
  color: #C9C9C9;
}

.lot-bar-statistic li{
  font-family: 'Heebo', cursive;
  font-size: medium;
  display: inline;
  margin-right: 14vw;
  color: white;
}

.bid-button {
  margin-left: 1vw;
background: rgb(255,217,77);
background: linear-gradient(42deg, rgba(255,217,77,1) 0%, rgba(255,199,125,1) 48%, rgba(255,153,106,1) 100%);
padding: 19px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: black;
  font-family: 'roboto', sans-serif;
  font-size: medium;
}

.bid-button:hover{
  text-decoration: none;
}

.lot-specs{
    margin-top: 2vh;
}

.lot-info-title {
  margin-left: 10px;
  font-family: 'Heebo', cursive;
  font-size: large;
  font-weight: bold;
}

.lot-specs tr:nth-child(odd) {
  background-color: #f0f0f0;

}

table {
  border-collapse: separate;
  border-spacing: 0;
}
td {
  font-family: 'Heebo', cursive;
  font-size: medium;
  padding: 5px 80px 5px 20px;
  border: #D7D7D7 1px;
  border-style: none solid solid none;
}
tr:first-child td:first-child { border-top-left-radius: 10px; }
tr:first-child td:last-child { border-top-right-radius: 10px; }
tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }
tr:first-child td { border-top-style: solid; }
tr td:first-child { border-left-style: solid; }

.lot-comment {
  width: 70%;
}

.lot-comment-content {
  font-family: 'Heebo', cursive;
  font-size: medium;
}

.comments-n-bids {
  margin-top: 4vh;
  margin-left: 5vw;
}

.comment {
  width: 45vw;
  height: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.comment-info{
  margin-left: 1.15vw;
}

.comment-username {
  height: 30px;
  padding-top: 8px;
  font-family: 'roboto', sans-serif;
  font-weight: bold;
  text-align: justify;
  margin-bottom: 8px;
}

.comment-content {
  margin-top: 5px;
  font-family: 'roboto-regular', sans-serif;
  font-weight: normal;
  text-align: justify;
}

.comment-seller{
  background-color: #404CB3;
  border-radius: 7px;
  padding: 5px;
  color: #F7F7F7;
  font-family: 'roboto-light', sans-serif;
  font-weight: lighter;
}

.comment-time {
  padding-left: 0.6vw;
  color: gray;
  font-family: 'roboto-light', sans-serif;
  font-weight: lighter;
  text-align: justify;
}

.comment-bid {
  color: green;
  font-family: 'roboto', sans-serif;
  font-weight: normal;
  text-align: justify;
  margin-top: 8px;
}

.user-comment-image {
  width: 60px;
  height: 60px;
  border-radius:50%;
  overflow:hidden;
}
